
* {
    box-sizing: border-box;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 15px;
        border: 1px solid red;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

body, a{
    color: #ffffff;
}



header{
    background-color: #007700;
}
nav{
    background-color: #002a77;
    width:  25%;
    float: left;
}
main{
    background-color: #7c7c00;
    width: 75%;
    float: left;
}
aside{
    background-color: #00817b;
}
footer{
    background-color: #7a0012;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
    }
}

@import "https://ionicons.com/";

.btns {
    position: relative;
    top: 0%;
    left: 12.5%;
    transform: translate(-50%, 0%);
}

.btns a {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    display: block;
    line-height: 10px;
    border: 3px solid;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    float: left;
}
.btns a::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, 0%);
    background: #4196ac;
    z-index: -1;
    transition: 0.4s all;
    border-radius: 50%;
}
.btns a:hover::after{
    width: 100%;
    height: 100%;
}